<section class="container">
  <app-success-alert></app-success-alert>
  <app-warning-alert></app-warning-alert>
  <div class="form_wrapper">
    <label class="form_label">
      Update Name
      <input
        type="text" [(ngModel)]="userName"
        placeholder="Update name">
    </label>
    <p
      class="form_label-name">
      User Name:
      <span>{{userName}}</span>
    </p>
    <button class="form_button"
            [disabled]="userName === ''"
            (click)="cleanInput()"
    >Update
    </button>
  </div>
  <div class="content_wrapper">
    <button
      class="form_button-details"
      (click)="showDetails()">
      Display details
    </button>
    <p *ngIf="toggle"
       class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. </p>
  </div>
  <app-message></app-message>
</section>
